body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1717px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1196_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1292px;
  height:972px;
}
#u1196 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:109px;
  width:1291px;
  height:971px;
}
#u1197 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:478px;
  width:1287px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1198 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1199_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1291px;
  height:61px;
}
#u1199 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:247px;
  width:1290px;
  height:60px;
}
#u1200 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:1286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1201_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:193px;
  height:23px;
}
#u1201 {
  border-width:0px;
  position:absolute;
  left:447px;
  top:270px;
  width:188px;
  height:18px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
  text-align:left;
}
#u1201_img.selected {
}
#u1201.selected {
}
#u1202 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:-4px;
  width:176px;
  word-wrap:break-word;
}
#u1203 {
  border-width:0px;
  position:absolute;
  left:426px;
  top:247px;
  width:2px;
  height:801px;
  overflow:hidden;
}
#u1203_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:801px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(228, 228, 228, 1);
  background-image:none;
}
#u1203_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1204_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:1032px;
}
#u1204 {
  border-width:0px;
  position:absolute;
  left:247px;
  top:246px;
  width:180px;
  height:1031px;
}
#u1205 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:508px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1206 {
  border-width:0px;
  position:absolute;
  left:247px;
  top:197px;
  width:1471px;
  height:51px;
  overflow:hidden;
}
#u1206_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:51px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(70, 76, 91, 0.898039215686275);
  background-image:none;
}
#u1206_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1206_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:51px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(52, 152, 219, 1);
  background-image:none;
}
#u1206_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1206_state2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:51px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(237, 110, 77, 1);
  background-image:none;
}
#u1206_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1206_state3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:51px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(250, 187, 61, 1);
  background-image:none;
}
#u1206_state3_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1206_state4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:51px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(170, 122, 179, 1);
  background-image:none;
}
#u1206_state4_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1206_state5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:51px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(154, 208, 185, 1);
  background-image:none;
}
#u1206_state5_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1206_state6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:51px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(234, 148, 190, 1);
  background-image:none;
}
#u1206_state6_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1206_state7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:51px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(193, 55, 74, 1);
  background-image:none;
}
#u1206_state7_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1207 {
  border-width:0px;
  position:absolute;
  left:247px;
  top:245px;
  width:1367px;
  height:3px;
  overflow:hidden;
}
#u1207_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1367px;
  height:3px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(0, 0, 0, 0.2);
  background-image:none;
}
#u1207_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1208_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:49px;
}
#u1208 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:197px;
  width:161px;
  height:48px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
  line-height:28px;
}
#u1208_img.selected {
}
#u1208.selected {
}
#u1209 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:161px;
  word-wrap:break-word;
}
#u1210 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1211_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:31px;
}
#u1211 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:263px;
  width:160px;
  height:30px;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u1212 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:8px;
  width:130px;
  word-wrap:break-word;
}
#u1213_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1213 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:271px;
  width:14px;
  height:14px;
  font-size:12px;
  color:#666666;
}
#u1213_img.mouseOver {
}
#u1213.mouseOver {
}
#u1214 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1215 {
  border-width:0px;
  position:absolute;
  left:426px;
  top:306px;
  width:1292px;
  height:2px;
  overflow:hidden;
}
#u1215_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1292px;
  height:2px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(228, 228, 228, 1);
  background-image:none;
}
#u1215_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1216_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:903px;
}
#u1216 {
  border-width:0px;
  position:absolute;
  left:426px;
  top:247px;
  width:1px;
  height:902px;
}
#u1217 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:443px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1218 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1219_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:50px;
}
#u1219 {
  border-width:0px;
  position:absolute;
  left:699px;
  top:197px;
  width:88px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1219_img.mouseOver {
}
#u1219.mouseOver {
}
#u1219_img.selected {
}
#u1219.selected {
}
#u1220 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:84px;
  word-wrap:break-word;
}
#u1221_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:50px;
}
#u1221 {
  border-width:0px;
  position:absolute;
  left:611px;
  top:197px;
  width:88px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1221_img.mouseOver {
}
#u1221.mouseOver {
}
#u1221_img.selected {
}
#u1221.selected {
}
#u1222 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:84px;
  word-wrap:break-word;
}
#u1223_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:50px;
}
#u1223 {
  border-width:0px;
  position:absolute;
  left:524px;
  top:197px;
  width:88px;
  height:49px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1223_img.mouseOver {
}
#u1223.mouseOver {
}
#u1223_img.selected {
}
#u1223.selected {
}
#u1224 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:84px;
  word-wrap:break-word;
}
#u1225 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1226_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:43px;
}
#u1226 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:319px;
  width:180px;
  height:42px;
  color:#353535;
  text-align:left;
}
#u1226_img.mouseOver {
}
#u1226.mouseOver {
}
#u1226_img.selected {
}
#u1226.selected {
}
#u1227 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:13px;
  width:132px;
  word-wrap:break-word;
}
#u1228_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
#u1228 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:334px;
  width:9px;
  height:14px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1228_img.mouseOver {
}
#u1228.mouseOver {
}
#u1228_img.selected {
}
#u1228.selected {
}
#u1229 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1230 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1231_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:43px;
}
#u1231 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:404px;
  width:180px;
  height:42px;
  color:#353535;
  text-align:left;
}
#u1231_img.selected {
}
#u1231.selected {
}
#u1232 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:13px;
  width:132px;
  word-wrap:break-word;
}
#u1233_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:9px;
}
#u1233 {
  border-width:0px;
  position:absolute;
  left:405px;
  top:423px;
  width:10px;
  height:8px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1234 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1235_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
#u1235 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:419px;
  width:9px;
  height:14px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1235_img.mouseOver {
}
#u1235.mouseOver {
}
#u1235_img.selected {
}
#u1235.selected {
}
#u1236 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1237_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:43px;
}
#u1237 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:448px;
  width:180px;
  height:42px;
  color:#353535;
  text-align:left;
}
#u1237_img.mouseOver {
}
#u1237.mouseOver {
}
#u1237_img.selected {
}
#u1237.selected {
}
#u1238 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:13px;
  width:132px;
  word-wrap:break-word;
}
#u1239_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:43px;
}
#u1239 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:489px;
  width:180px;
  height:42px;
  color:#353535;
  text-align:left;
}
#u1239_img.mouseOver {
}
#u1239.mouseOver {
}
#u1239_img.selected {
}
#u1239.selected {
}
#u1240 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:13px;
  width:132px;
  word-wrap:break-word;
}
#u1241_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:43px;
}
#u1241 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:531px;
  width:180px;
  height:42px;
  color:#353535;
  text-align:left;
}
#u1241_img.mouseOver {
}
#u1241.mouseOver {
}
#u1241_img.selected {
}
#u1241.selected {
}
#u1242 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:13px;
  width:132px;
  word-wrap:break-word;
}
#u1243 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1244_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:43px;
}
#u1244 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:573px;
  width:180px;
  height:42px;
  color:#353535;
  text-align:left;
}
#u1244_img.selected {
}
#u1244.selected {
}
#u1245 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:13px;
  width:132px;
  word-wrap:break-word;
}
#u1246_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:9px;
}
#u1246 {
  border-width:0px;
  position:absolute;
  left:405px;
  top:592px;
  width:10px;
  height:8px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1247 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1248_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
#u1248 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:588px;
  width:9px;
  height:14px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1248_img.mouseOver {
}
#u1248.mouseOver {
}
#u1248_img.selected {
}
#u1248.selected {
}
#u1249 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1250_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:43px;
}
#u1250 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:617px;
  width:180px;
  height:42px;
  color:#353535;
  text-align:left;
}
#u1250_img.mouseOver {
}
#u1250.mouseOver {
}
#u1250_img.selected {
}
#u1250.selected {
}
#u1251 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:13px;
  width:132px;
  word-wrap:break-word;
}
#u1252_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:43px;
}
#u1252 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:658px;
  width:180px;
  height:42px;
  color:#353535;
  text-align:left;
}
#u1252_img.mouseOver {
}
#u1252.mouseOver {
}
#u1252_img.selected {
}
#u1252.selected {
}
#u1253 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:13px;
  width:132px;
  word-wrap:break-word;
}
#u1254_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:50px;
}
#u1254 {
  border-width:0px;
  position:absolute;
  left:441px;
  top:197px;
  width:88px;
  height:49px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#0033CC;
}
#u1254_img.mouseOver {
}
#u1254.mouseOver {
}
#u1254_img.selected {
}
#u1254.selected {
}
#u1255 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:84px;
  word-wrap:break-word;
}
#u1256_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:17px;
}
#u1256 {
  border-width:0px;
  position:absolute;
  left:1598px;
  top:214px;
  width:49px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u1257 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1258_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:43px;
}
#u1258 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:361px;
  width:180px;
  height:42px;
  color:#353535;
  text-align:left;
}
#u1258_img.mouseOver {
}
#u1258.mouseOver {
}
#u1258_img.selected {
}
#u1258.selected {
}
#u1259 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:13px;
  width:132px;
  word-wrap:break-word;
}
#u1260_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:282px;
}
#u1260 {
  border-width:0px;
  position:absolute;
  left:459px;
  top:334px;
  width:352px;
  height:281px;
}
#u1261 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:132px;
  width:348px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1262_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:2px;
}
#u1262 {
  border-width:0px;
  position:absolute;
  left:459px;
  top:376px;
  width:352px;
  height:1px;
}
#u1263 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:348px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1264_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:23px;
}
#u1264 {
  border-width:0px;
  position:absolute;
  left:476px;
  top:344px;
  width:37px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1265 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1266_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u1266 {
  border-width:0px;
  position:absolute;
  left:468px;
  top:403px;
  width:22px;
  height:22px;
}
#u1267 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1268_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:20px;
}
#u1268 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:407px;
  width:62px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#0099FF;
}
#u1269 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u1270_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u1270 {
  border-width:0px;
  position:absolute;
  left:468px;
  top:435px;
  width:22px;
  height:22px;
}
#u1271 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1272_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:20px;
}
#u1272 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:436px;
  width:62px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#0099FF;
}
#u1273 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u1274_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:12px;
}
#u1274 {
  border-width:0px;
  position:absolute;
  left:786px;
  top:347px;
  width:15px;
  height:11px;
}
#u1275 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1276_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:644px;
  height:353px;
}
#u1276 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:695px;
  width:643px;
  height:352px;
}
#u1277 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:168px;
  width:639px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1278_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:242px;
}
#u1278 {
  border-width:0px;
  position:absolute;
  left:574px;
  top:723px;
  width:419px;
  height:242px;
}
#u1279 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:113px;
  width:415px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1280_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:77px;
}
#u1280 {
  border-width:0px;
  position:absolute;
  left:472px;
  top:965px;
  width:160px;
  height:76px;
}
#u1281 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1282_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:23px;
}
#u1282 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:968px;
  width:145px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1283 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u1284_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:23px;
}
#u1284 {
  border-width:0px;
  position:absolute;
  left:524px;
  top:1014px;
  width:49px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1285 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1286_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:77px;
}
#u1286 {
  border-width:0px;
  position:absolute;
  left:924px;
  top:965px;
  width:160px;
  height:76px;
}
#u1287 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1288_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:77px;
}
#u1288 {
  border-width:0px;
  position:absolute;
  left:693px;
  top:965px;
  width:160px;
  height:76px;
}
#u1289 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1290_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:16px;
}
#u1290 {
  border-width:0px;
  position:absolute;
  left:931px;
  top:972px;
  width:148px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u1291 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  word-wrap:break-word;
}
#u1292_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:23px;
}
#u1292 {
  border-width:0px;
  position:absolute;
  left:980px;
  top:1012px;
  width:49px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1293 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1294_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:492px;
  height:282px;
}
#u1294 {
  border-width:0px;
  position:absolute;
  left:873px;
  top:334px;
  width:491px;
  height:281px;
}
#u1295 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:132px;
  width:487px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1296_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:492px;
  height:2px;
}
#u1296 {
  border-width:0px;
  position:absolute;
  left:1110px;
  top:375px;
  width:491px;
  height:1px;
}
#u1297 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:487px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1298_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:23px;
}
#u1298 {
  border-width:0px;
  position:absolute;
  left:890px;
  top:344px;
  width:37px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1299 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1300_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:204px;
}
#u1300 {
  border-width:0px;
  position:absolute;
  left:896px;
  top:386px;
  width:356px;
  height:203px;
}
#u1301 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  word-wrap:break-word;
}
#u1302_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:23px;
}
#u1302 {
  border-width:0px;
  position:absolute;
  left:757px;
  top:1012px;
  width:49px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1303 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1304_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:23px;
}
#u1304 {
  border-width:0px;
  position:absolute;
  left:701px;
  top:968px;
  width:145px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1305 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
